.container{
    margin: 30px;
    height : 100px;
}
.input{
    border: 0px;
    color: black;
    font-size: medium;
    margin: 5px;
    border-bottom:1px solid darkslategray;
    width: 40%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0);
}
.input:focus{
    outline: 0px;
}

button{
    font-size: medium;
    border:1px solid black;
    height: 30%;
    width: fit-content;
    background-color: greenyellow;
    color: black;
    border-radius: 5px;
}
button:focus{
    outline: 0px;
}